
* {
    font-family: 'Nunito', sans-serif;
}

.container {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(235, 235, 235);
}

.title-registre {
    position: absolute;
    font-size: 16px;
    font-weight: 300;
    top: -7px;
    background-color: white;
    padding: 0 3px;

}

label {
    display: block;
    color: #70731f;
    font-size: 20px;

}

input {
    margin-bottom: 18px;
    border: 2px solid #70731f;
}

.input-inline {
    display: inline;
}

.input-block {
    display: block;
}

textarea {
    display: block;
    margin-bottom: 18px;
}

button {
    cursor: pointer;
}

.button-clear:hover {
    background-color: rgb(25, 9, 250);
    width: 70px;
    height: 30px;
    color: white;
    border: 2px solid #70731f;

}

.button-submit:hover {
    background-color: rgb(31, 72, 255);
    width: 70px;
    height: 30px;
    color: white;
    border: 2px solid #70731f;
}